.App {
  background-color: #f89901;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header {
  font-size: calc(10px + 2vmin);
  margin-bottom: 20px;
}

.App-logo{
  user-select: none;
}

.App-link {
  color: unset;
}